<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registreren</servlet-name>
        <servlet-class>Dryves.Registreren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>Dryves.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RitPlannen</servlet-name>
        <url-pattern>/RitPlannen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registreren</servlet-name>
        <url-pattern>/Registreren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/FacebookLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Dryves.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RitPlannen</servlet-name>
        <servlet-class>Dryves.RitPlannen</servlet-class>
    </servlet>
</web-app>
