/* 
    Document   : dryver
    Created on : 11-mrt-2013, 20:03:44
    Author     : RickSpijker
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

.background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

body {
    font-family: verdana, arial;
    font-size: 11px;
    color: #000;
}

button {

    cursor: pointer;

}

.logo {

    margin-top: 20px;
    margin-bottom: 20px;
}

.drvyesWrapper {

    width: 960px;
    margin: 0 auto;

}

.navigation {

    display: inline-block;
    text-align: left;
    width: 960px;
    height: 35px;
    border: 1px solid #bbbbbb;;
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-sizing: border-box;

}


.navigation button {

    display: inline;
    height: 35px;
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(227, 227, 227)) repeat scroll 0% 0% transparent;
    color: rgb(51, 51, 51);
    font: bold 11px/10px helvetica,arial,sans-serif;
    padding: 8px 16px 9px 10px;
    text-align: center;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    overflow: visible;
    position: relative;
    vertical-align: top;
    border: 1px solid #bbbbbb;
    margin-top: -1px;
    margin-left: -1px;

}

.navigation button:hover {

    border-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 1px 1px rgb(204, 204, 204) inset;
    text-shadow: 0px 1px 0px rgb(204, 204, 204);

}

.contentPanel {


    display: inline-block;
    width: 939px;
    heigth: 100%;
    margin-top: 16px;
    border: 1px solid rgb(187, 187, 187);
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;

}



.mapcontent{
	float: right;
	top: 5px;
	margin-right: 3px;
	width: 633px;
	position: static;
	
}

#mapcanvas {
    width: 630px;
    height: 350px;
    float: right;

}

.invoerveld{
	width: 300px;
	margin-left: 3px;
	margin-top: 5px;
	float: left;
	
}
#invoerveldadres {
    width: 100px;
    float: left;
    margin-left: 3px;
}

#ritComboBox{

}

.loginButton {
    float:right; margin-right: -1px;
}

.formInput {
    display: block;
    width: 33%;
    height: 45px;
    overflow: auto;
    float: left;
    position: relative;

}

.clear {
    clear:both
}

.regformheader {

}
