/* 
    Document   : dryver
    Created on : 11-mrt-2013, 20:03:44
    Author     : RickSpijker
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

.background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

body {
    font-family: verdana, arial;
    font-size: 11px;
    color: #000;
}

button {

    cursor: pointer;

}

.logo {

    margin-top: 20px;
    margin-bottom: 20px;
}

.drvyesWrapper {

    width: 960px;
    margin: 0 auto;

}


.navigation {

    display: inline-block;
    text-align: left;
    width: 960px;
    height: 35px;
    border: 1px solid #bbbbbb;;
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-sizing: border-box;

}


.navigation button {

    display: inline;
    height: 35px;
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(227, 227, 227)) repeat scroll 0% 0% transparent;
    color: rgb(51, 51, 51);
    font: bold 11px/10px helvetica,arial,sans-serif;
    padding: 8px 16px 9px 10px;
    text-align: center;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    overflow: visible;
    position: relative;
    vertical-align: top;
    border: 1px solid #bbbbbb;
    margin-top: -1px;
    margin-left: -1px;

}

.navigation button:hover, .navigation .active {

    border-color: rgb(153, 153, 153);
    box-shadow: 0px 0px 1px 1px rgb(204, 204, 204) inset;
    text-shadow: 0px 1px 0px rgb(204, 204, 204);
    background: #ccc;

}

.contentPanel {


    display: inline-block;
    width: 939px;
    heigth: 100%;
    margin-top: 16px;
    border: 1px solid rgb(187, 187, 187);
    background: linear-gradient(180deg, rgb(254, 254, 254), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;

}



.mapcontent{
    float: right;
    top: 5px;
    margin-right: 3px;
    width: 633px;
    position: static;

}

#mapcanvas {
    width: 630px;
    height: 350px;
    float: right;

}

.invoerveld{
    width: 300px;
    margin-left: 3px;
    margin-top: 5px;
    float: left;

}
#invoerveldadres {
    width: 100px;
    float: left;
    margin-left: 3px;
}

#ritComboBox{

}

.loginButton {
    float:right; margin-right: -1px;
}

.formInput {
    display: block;
    width: 33%;
    height: 45px;
    overflow: auto;
    float: left;
    position: relative;

}

.clear {
    clear:both
}

.regformheader {

}

.rittenlijst{
    background: #F2F2F2;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #333;
    cursor: pointer;
}

.rittenlijst h1 {
    font-size: 14px;

}

.zoektextveld {
    border:1px solid #BBB;
    font: bold 11px  helvetica, arial, sans-serif;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    height:25px;
    width: 400px;
    color: #666;
    font-style: italic;
    box-shadow: inset 0px -2px 5px 0px RGBA(0,0,0,0.1);
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: -1px;
    background: linear-gradient(180deg, #F0F0F0, #FFFFFF);
    z-index: 5;

}

.zoektextveld:focus {

    box-shadow: inset 0px -2px 5px 0px RGBA(0,0,0,0.2);
    border:1px solid #BBB;
}



button.heliosActionBarIconButton {
    display:inline;
    height: 35px;
    border: 1px solid #BBB;
    border-left: 1px solid #cfcfcf;

    background: linear-gradient(180deg, #FEFEFE, #E3E3E3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),	to(#E3E3E3) );
    filter: progid:DXImageTransform.Microsoft.Gradient ( StartColorStr ='#FEFEFE', EndColorStr = '#E3E3E3' );

    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;

    color: #333333;
    font: bold 11px  helvetica, arial, sans-serif;
    line-height: 10px;
    padding: 9px 7px 9px 7px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    margin-top: 4px;
    margin-left: -2px;
    overflow:visible;
    position:relative;
    vertical-align:top;
    border-radius: 0px 2px 2px 0px;
}


button.heliosActionBarIconButton:before  {
    display:block;
    border-color: transparent #cfcfcf;
    border-style: solid;
    border-width: 8px 8px 8px 0px;
    content: "";	
    position: absolute;
    left: -8px;
    height:0px;
    width: 0px;
}

button.heliosActionBarIconButton:hover:before  {
    display:block;
    border-color: transparent #999;
    border-style: solid;
    border-width: 8px 8px 8px 0px;
    content: "";	
    position: absolute;
    left: -8px;
    height:0px;
    width: 0px;
}

